@charset "UTF-8";

@import "partial/reset";
@import "partial/variables";

#wrap {
    margin: 30px 5%;
}
header {
    .tit {
        font-size: 32px;
    }
    .info {
        font-size: 16px;
        color: #999;
    }
}
.gnb {
    @include clearfix;
    margin-top: 20px;

    li {
        float: left;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            padding: 0 5px;
            border-bottom: 2px solid #111;
            background: #111;
            font-size: 24px;
            color: #fff;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                background: none;
                color: #111;
            }
        }
    }
}
footer {
    margin-top: 50px;
    padding: 30px 0;
    border-top: 1px solid #eee;
    font-size: 12px;
    color: #999;

    a {
        color: #999;
    }
}
section[class^='section_'] {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eee;

    .tit {
        display: inline-block;
        margin-bottom: 30px;
        padding-bottom: 6px;
        border-bottom: 2px solid #ccc;
        font-size: 22px;
    }
}
.about_me {
    margin: 0 0 20px 10px;

    dt, dd {
        margin-bottom: 10px;
        font-size: 14px;
    }
}
.group {
    margin-top: 76px;

    &:first-of-type {
        margin-top: 20px;
    }
    .in_place {
        display: inline-block;
        *display: inline;
        padding: 0 3px;
        background: #aaa;
        font-size: 17px;
        color: #fff;
    }
}
.project_lst {
    @include clearfix;
    margin: -20px 0 0 10px;
    font-size: 0;

    li {
        display: inline-block;
        width: 30.3%;
        margin-top: 40px;
        padding-right: 3%;
        line-height: 24px;
        vertical-align: top;
        *float: left;
        *min-height: 150px;
    }
    p {
        font-size: 13px;
        color: #666;
    }
    .project {
        font-size: 14px;
        font-weight: normal;
    }
    .desc {
        display: inline-block;
        font-size: 12px;
        color: #666;
        vertical-align: top;
    }
    .link {
        a {
            display: inline-block;
            position: relative;
            padding-left: 7px;
            color: #03a9f4;

            &:before {
                position: absolute;
                top: 12px;
                left: 0;
                width: 2px;
                height: 2px;
                border-radius: 2px;
                background: #03a9f4;
                content: '';
            }
            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    .skill {
        display: inline-block;
        padding: 0 4px;
        border-radius: 3px;
        font-size: 11px;
        color: #fff;
        line-height: 17px;

        &.web {
            background: #6291e9;
        }
        &.mobile {
            background: #0dcdbd;
        }
        &.html5 {
            background: #f6831d;
        }
        &.css3 {
            background: #9e84d7;
        }
        &.responsive {
            background: #00baff;
        }
        &.javascript {
            background: #82b981;
        }
        &.accesibility {
            background: #fa8072;
        }
        &.award {
            background: #f45196;
        }
        &.aem {
            background: #a6a6a6;
        }
        &.app {
            background: #9292b7;
        }
    }
}
.dot_lst {
    margin-left: 10px;

    li {
        position: relative;
        margin-top: 10px;
        padding-left: 10px;

        &:first-child {
            margin-top: 0;
        }
        &:before {
            position: absolute;
            top: 10px;
            left: 0;
            width: 3px;
            height: 3px;
            margin: -1px 7px 1px 0;
            border-radius: 3px;
            background: #333;
            vertical-align: middle;
            content: '';
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .min {
        display: inline-block;
        min-width: 154px;
    }
    .total {
        margin-top: 15px;
        font-size: 15px;

        &:before {
            top: 11px;
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .gnb {
        li {
            margin-left: 14px;

            a {
                font-size: 22px;
            }
        }
    }
    .project_lst {
        margin-left: 0;

        li {
            display: list-item;
            width: auto;
        }
    }
}
